name: main

on:
  push:
    branches:
      - main
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
      - 'Makefile'
      - 'internal/**'
      - 'cmd/**'
      - 'lib/**'
      - 'apptest/**'
      - '.github/workflows/main.yml'
      - '!ui/**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
      - 'Makefile'
      - 'internal/**'
      - 'cmd/**'
      - 'lib/**'
      - 'apptest/**'
      - '.github/workflows/main.yml'
      - '!ui/**'

permissions:
  contents: read
  packages: write
  checks: write

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  lint: 
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: false

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/bin
            ~/go/pkg/mod
          key: go-${{ runner.os }}-${{ hashFiles('go.sum') }}
          restore-keys: |
            go-${{ runner.os }}-

      - name: Run check-all
        run: |
          make check-all
          git diff --exit-code
    
  test:
    name: test
    needs: lint
    runs-on: ubuntu-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v5

      - name: Setup Go
        id: go
        uses: actions/setup-go@v6
        with:
          cache: false
          go-version: '1.25'

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/bin
            ~/go/pkg/mod
          key: go-${{ runner.os }}-${{ hashFiles('go.sum') }}
          restore-keys: |
            go-${{ runner.os }}-

      - name: Run test-short
        run: make test-short

      - name: Run test-race
        run: make test-race

      - name: Run test-full
        run: make test-full

  integration-test:
    name: integration-test
    runs-on: ubuntu-latest
    needs: [lint, test] 

    steps:
      - name: Code checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          cache: false
          go-version: '1.25'

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/bin
            ~/go/pkg/mod
          key: go-${{ runner.os }}-${{ hashFiles('go.sum') }}
          restore-keys: |
            go-${{ runner.os }}-

      - name: Run integration-test 
        run: make integration-test
